header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    /* background-color: blanchedalmond; */
    margin: 1rem;
    padding: 0.5rem;
    border: solid 1px black;
    border-radius: 5rem;


}
ul{
    height: 9vh;
}
ul li {
    display: inline-block;
    margin-left: 10px;
    /* border: 2px black solid; */
    border-radius: 5rem;
    cursor: pointer;
    background-color: none;
    padding: 0.25rem;
    

    border-radius: 25% 10%;
    border-style: solid;
    border-color: rgb(49, 1, 1);
    border-width: 5px;
}

ul :hover {
    /* background-color: black; */
    color: white;
    background-color: rgb(32, 33, 34);
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 81.25%;
} 
.logo{
    border-radius: 50%;
}


